In [33]:
# import all packages here

import pandas as pd
import math
import altair as alt
import os
import datetime
from time import strptime

### DATA WRANGLING

In [18]:
def crptocurrency_data():
    # Set working directory
    os.chdir("/Users/user/Desktop/dashboard-project-cryptocurrency_db")
    # Read databases and add their respective name column
    bitcoin_cash_price = pd.read_csv("raw_data/bitcoin_cash_price.csv")
    bitcoin_cash_price['Name']='bitcoin_cash'
    bitcoin_cash_price.head()

    bitcoin_price = pd.read_csv("raw_data/bitcoin_price.csv")
    bitcoin_price['Name']='bitcoin'
    #bitcoin_price.head()

    bitconnect_price = pd.read_csv("raw_data/bitconnect_price.csv")
    bitconnect_price['Name']='bitconnect'
    #bitconnect_price.head()

    dash_price = pd.read_csv("raw_data/dash_price.csv")
    dash_price['Name']='dash'
    #dash_price.head()

    ethereum_classic_price = pd.read_csv("raw_data/ethereum_classic_price.csv")
    ethereum_classic_price['Name']='ethereum_classic'
    #ethereum_classic_price.head()

    ethereum_price = pd.read_csv("raw_data/ethereum_price.csv")
    ethereum_price['Name']='ethereum'
    #ethereum_price.head()

    iota_price = pd.read_csv("raw_data/iota_price.csv")
    iota_price['Name']='iota'
    #iota_price.head()

    litecoin_price = pd.read_csv("raw_data/litecoin_price.csv")
    litecoin_price['Name']='litecoin'
    #litecoin_price.head()

    monero_price = pd.read_csv("raw_data/monero_price.csv")
    monero_price['Name']='monero'
    #monero_price.head()

    nem_price = pd.read_csv("raw_data/nem_price.csv")
    nem_price['Name']='nem'
    #nem_price.head()

    neo_price = pd.read_csv("raw_data/neo_price.csv")
    neo_price['Name']='neo'
    #neo_price.head()

    numeraire_price = pd.read_csv("raw_data/numeraire_price.csv")
    numeraire_price['Name']='numeraire'
    #numeraire_price.head()

    omisego_price = pd.read_csv("raw_data/omisego_price.csv")
    omisego_price['Name']='omisego'
    #omisego_price.head()

    qtum_price = pd.read_csv("raw_data/qtum_price.csv")
    qtum_price['Name']='qtum'
    #qtum_price.head()

    ripple_price = pd.read_csv("raw_data/ripple_price.csv")
    ripple_price['Name']='ripple'
    #ripple_price.head()

    stratis_price = pd.read_csv("raw_data/stratis_price.csv")
    stratis_price['Name']='stratis'
    #stratis_price.head()

    waves_price = pd.read_csv("raw_data/waves_price.csv")
    waves_price['Name']='waves'
    #waves_price.head()
    
    # Concatenate all the 17 databases
    frames = [bitcoin_cash_price,
              bitcoin_price,
              bitconnect_price, 
              dash_price,
              ethereum_classic_price,
              ethereum_price,
              iota_price,
              litecoin_price,
              monero_price,
              nem_price,
              neo_price,
              numeraire_price,
              omisego_price,
              qtum_price,
              ripple_price,
              stratis_price,
              waves_price]


    price_raw = pd.concat(frames)
    
    return price_raw

In [20]:
crptocurrency_data()

,Date,Open,High,Low,Close,Volume,Market Cap,Name
0,"Feb 20, 2018",1543.270000,1569.03,1414.350000,1418.730000,"820,947,000","26,199,800,000",bitcoin_cash
1,"Feb 19, 2018",1483.340000,1553.81,1483.340000,1534.770000,"578,906,000","25,179,700,000",bitcoin_cash
2,"Feb 18, 2018",1552.100000,1641.40,1428.490000,1487.460000,"907,873,000","26,344,200,000",bitcoin_cash
3,"Feb 17, 2018",1548.480000,1568.64,1517.140000,1551.390000,"641,719,000","26,280,100,000",bitcoin_cash
4,"Feb 16, 2018",1373.160000,1558.66,1369.680000,1552.200000,"961,010,000","23,302,000,000",bitcoin_cash
...,...,...,...,...,...,...,...,...
624,"Jun 06, 2016",0.712541,1.17,0.712541,0.768672,"95,573",-,waves
625,"Jun 05, 2016",0.587588,1.11,0.580745,0.713006,"41,700",-,waves
626,"Jun 04, 2016",1.090000,1.29,0.575898,0.586993,"4,912",-,waves
627,"Jun 03, 2016",1.290000,1.66,0.727579,1.090000,"57,721",-,waves
628,"Jun 02, 2016",1.330000,1.39,1.150000,1.210000,"83,734",-,waves

### DATA WRANGLING

In [2]:
# Set working directory
os.chdir("/Volumes/UBC/Block5/551/Project_MDS/dashboard-project-cryptocurrency_db")

In [3]:
# Read databases and add their respective name column
bitcoin_cash_price = pd.read_csv("raw_data/bitcoin_cash_price.csv")
bitcoin_cash_price['Name']='bitcoin_cash'
bitcoin_cash_price.head()

bitcoin_price = pd.read_csv("raw_data/bitcoin_price.csv")
bitcoin_price['Name']='bitcoin'
#bitcoin_price.head()

bitconnect_price = pd.read_csv("raw_data/bitconnect_price.csv")
bitconnect_price['Name']='bitconnect'
#bitconnect_price.head()

dash_price = pd.read_csv("raw_data/dash_price.csv")
dash_price['Name']='dash'
#dash_price.head()

ethereum_classic_price = pd.read_csv("raw_data/ethereum_classic_price.csv")
ethereum_classic_price['Name']='ethereum_classic'
#ethereum_classic_price.head()

ethereum_price = pd.read_csv("raw_data/ethereum_price.csv")
ethereum_price['Name']='ethereum'
#ethereum_price.head()

iota_price = pd.read_csv("raw_data/iota_price.csv")
iota_price['Name']='iota'
#iota_price.head()

litecoin_price = pd.read_csv("raw_data/litecoin_price.csv")
litecoin_price['Name']='litecoin'
#litecoin_price.head()

monero_price = pd.read_csv("raw_data/monero_price.csv")
monero_price['Name']='monero'
#monero_price.head()

nem_price = pd.read_csv("raw_data/nem_price.csv")
nem_price['Name']='nem'
#nem_price.head()

neo_price = pd.read_csv("raw_data/neo_price.csv")
neo_price['Name']='neo'
#neo_price.head()

numeraire_price = pd.read_csv("raw_data/numeraire_price.csv")
numeraire_price['Name']='numeraire'
#numeraire_price.head()

omisego_price = pd.read_csv("raw_data/omisego_price.csv")
omisego_price['Name']='omisego'
#omisego_price.head()

qtum_price = pd.read_csv("raw_data/qtum_price.csv")
qtum_price['Name']='qtum'
#qtum_price.head()

ripple_price = pd.read_csv("raw_data/ripple_price.csv")
ripple_price['Name']='ripple'
#ripple_price.head()

stratis_price = pd.read_csv("raw_data/stratis_price.csv")
stratis_price['Name']='stratis'
#stratis_price.head()

waves_price = pd.read_csv("raw_data/waves_price.csv")
waves_price['Name']='waves'
#waves_price.head()

In [105]:
# Concatenate all the 17 databases
frames = [bitcoin_cash_price,
          bitcoin_price,
          bitconnect_price, 
          dash_price,
          ethereum_classic_price,
          ethereum_price,
          iota_price,
          litecoin_price,
          monero_price,
          nem_price,
          neo_price,
          numeraire_price,
          omisego_price,
          qtum_price,
          ripple_price,
          stratis_price,
          waves_price]


price_raw = pd.concat(frames)

In [106]:
# Drop NA
price_raw = price_raw.dropna()

In [107]:
# Fix dates
price_raw['Month_Name'] = price_raw['Date'].str[:3]
price_raw['Month_Number'] = 0
price_raw['Date_Number'] = price_raw['Date'].str[4:6]
price_raw['Year'] = price_raw['Date'].str[8:12]
price_raw.loc[price_raw['Month_Name'] == "Jan", 'Month_Number'] = 1
price_raw.loc[price_raw['Month_Name'] == "Feb", 'Month_Number'] = 2
price_raw.loc[price_raw['Month_Name'] == "Mar", 'Month_Number'] = 3
price_raw.loc[price_raw['Month_Name'] == "Apr", 'Month_Number'] = 4
price_raw.loc[price_raw['Month_Name'] == "May", 'Month_Number'] = 5
price_raw.loc[price_raw['Month_Name'] == "Jun", 'Month_Number'] = 6
price_raw.loc[price_raw['Month_Name'] == "Jul", 'Month_Number'] = 7
price_raw.loc[price_raw['Month_Name'] == "Aug", 'Month_Number'] = 8
price_raw.loc[price_raw['Month_Name'] == "Sep", 'Month_Number'] = 9
price_raw.loc[price_raw['Month_Name'] == "Oct", 'Month_Number'] = 10
price_raw.loc[price_raw['Month_Name'] == "Nov", 'Month_Number'] = 11
price_raw.loc[price_raw['Month_Name'] == "Dec", 'Month_Number'] = 12
price_raw['Date_Number'] = price_raw['Date_Number'].astype(int)
price_raw['Year'] = price_raw['Year'].astype(int)
price_raw['New_date']=(price_raw['Year']*10000)+(price_raw['Month_Number']*100)+(price_raw['Date_Number'])

price_raw.head()
price_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13902 entries, 0 to 628
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          13902 non-null  object
 1   Open          13902 non-null  float64
 2   High          13902 non-null  float64
 3   Low           13902 non-null  float64
 4   Close         13902 non-null  float64
 5   Volume        13902 non-null  object
 6   Market Cap    13902 non-null  object
 7   Name          13902 non-null  object
 8   Month_Name    13902 non-null  object
 9   Month_Number  13902 non-null  int64
 10  Date_Number   13902 non-null  int64
 11  Year          13902 non-null  int64
 12  New_date      13902 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 1.5+ MB

In [113]:
price_raw['Rank']=price_raw["New_date"].rank() 
price_raw.head(200)

,Date,Open,High,Low,Close,Volume,Market Cap,Name,Month_Name,Month_Number,Date_Number,Year,New_date,Rank
0,"Feb 20, 2018",1543.27,1569.03,1414.35,1418.73,"820,947,000","26,199,800,000",bitcoin_cash,Feb,2,20,2018,20180220,13894.0
1,"Feb 19, 2018",1483.34,1553.81,1483.34,1534.77,"578,906,000","25,179,700,000",bitcoin_cash,Feb,2,19,2018,20180219,13877.0
2,"Feb 18, 2018",1552.10,1641.40,1428.49,1487.46,"907,873,000","26,344,200,000",bitcoin_cash,Feb,2,18,2018,20180218,13860.0
3,"Feb 17, 2018",1548.48,1568.64,1517.14,1551.39,"641,719,000","26,280,100,000",bitcoin_cash,Feb,2,17,2018,20180217,13843.0
4,"Feb 16, 2018",1373.16,1558.66,1369.68,1552.20,"961,010,000","23,302,000,000",bitcoin_cash,Feb,2,16,2018,20180216,13826.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"Aug 09, 2017",345.28,349.32,298.61,303.89,"165,032,000","5,691,960,000",bitcoin_cash,Aug,8,9,2017,20170809,10579.0
196,"Aug 08, 2017",321.35,386.29,309.61,345.49,"274,880,000","5,297,390,000",bitcoin_cash,Aug,8,8,2017,20170808,10562.0
197,"Aug 07, 2017",223.76,373.87,223.76,319.69,"346,546,000","3,688,360,000",bitcoin_cash,Aug,8,7,2017,20170807,10545.0
198,"Aug 06, 2017",212.18,223.70,203.44,220.66,"107,606,000","3,497,290,000",bitcoin_cash,Aug,8,6,2017,20170806,10528.0
199,"Aug 05, 2017",231.11,273.04,200.98,213.15,"144,043,000","3,809,330,000",bitcoin_cash,Aug,8,5,2017,20170805,10511.0

In [123]:
price_sample = price_raw[price_raw['New_date']==20130428]

In [124]:
price_sample

,Date,Open,High,Low,Close,Volume,Market Cap,Name,Month_Name,Month_Number,Date_Number,Year,New_date,Rank
1759,"Apr 28, 2013",135.3,135.98,132.10,134.21,-,"1,500,520,000",bitcoin,Apr,4,28,2013,20130428,1.5
1759,"Apr 28, 2013",4.3,4.40,4.18,4.35,-,"73,773,400",litecoin,Apr,4,28,2013,20130428,1.5

In [122]:
price_raw['New_date'].min()

20130428